@import "bourbon";
@import "vars.scss";

@media screen and (max-height: 600px){
  section{
    padding-top: 0;
  }
}

@media screen and (max-width: 600px){
  [class*="col-"]{width: 100% !important;}
  section{
    padding-top: 0px;
    padding-bottom: 300px;
    height: auto;
    h1{font-size: 34px;}
    p{font-size: 20px;}
    .btn{
      width: 100%;
      max-width: 310px;
    }
  }
  footer{
    text-align: center;
    .politics{
      float: none;
      text-align: center;
      a{display: block;}
      a+a{margin-left: 0;}
    }
    .footer-fire, .logo_rezart{
      float: none;
      margin: 15px 20px 10px;
    }
  }
}

// 600 -899
@include for-size(tablet-portait-only) {
  body{font-size: 15px;}
  section{
    padding-bottom: 300px;
  }
  footer{
    text-align: center;
    .col-9, .col-3{width: 100%;}
    .politics{
      float: none;
      text-align: center;
      a{display: block;}
      a+a{margin-left: 0;}
    }
    .footer-fire, .logo_rezart{
      float: none;
      margin: 15px 20px 10px;
    }
  }
}

@media screen and (max-width: 900px){}
// 900 - 1199
@include for-size(tablet-landscape-only) {
  body{font-size: 16px;}
}
@media screen and (max-width: 1200px){}