@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 18px/24px $main_font;
	color: $main_text_color;
	background-color: #f5f6f8;
}

body.unscroll{
	overflow: hidden;
}

h2{
	font: 48px/50px $Raleway_700;
	color: #000;
}

.title{
	font: 26px/30px $Raleway_700;
	color: #000;
}

.title_small{
	font: 18px/24px $Raleway_700;
	color: #000;
}

a,
button,
input,
textarea {
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);

	&:focus {
		outline: 0;
	}
}

input,
textarea {
	box-sizing: border-box;
}

textarea {
	resize: none;
}

button {
	&:hover {
		cursor: pointer;
	}
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
	width: 326px;
	height: 54px;
	box-shadow: 1px 9px 32px rgba(255, 250, 0, 0.4);
	border-radius: 26px;
	background-color: $second_color;
	// background-image: linear-gradient(to top, #edcc00 0%, #feed01 100%);

	font-family: $Raleway_700;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	line-height: 24px;
}

.btn:hover{
	background-color: #F8EB00;
}

.btn:active{
	background-color: #edcc00;
}


#sec_01{
	position: relative;
	background-image: linear-gradient(180deg, #0a5979 0%, #a84285 56%, #f5f6f8 100%);
	background-color: #744279;
	overflow: hidden;
	.top{
		.logo{
			float: left;
		}
		nav{
			float: left;
			margin: 35px 0 0 125px;
			a{
				display: inline-block;
				color: #7c97a9;
				font-family: $Raleway_500;
				font-size: 16px;
				line-height: 24px;
			}
			a+a{margin-left: 12px;}
			a:hover{
				color: #fff;
			}
		}
		.call{
			float: right;
			width: 190px;
			height: 40px;
			border-radius: 19px;
			background-color: #ffffff;
			margin-top: 30px;

			color: #165679;
			font-family: $Raleway_700;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: 0.05em;
		}
		.call:hover{
			background-color: $main_color;
			color: #fff;
		}
		.call:active{
			background-color: #06425c;
		}
	}
	.container{
		background: url(img/sec_01-bg_letter.png) top 140px left 405px no-repeat;
	}
	.content_left{
		float: left;
		margin-top: 135px;
		position: relative;
		z-index: 10;
	}
	.wrap_text{
		position: relative;
		width: 355px;
		.small_text{
			position: absolute;
			bottom: -6px;
			right: -200px;
			color: #fff;
		}
	}
	.beforeheader{
		color: $second_color;
		font-family: $Raleway_700;
		font-size: 70px;
		line-height: 80px;
		span{
			position: relative;
			display: inline-block;
		}
		span:before{
			position: absolute;
			content: '';
			left: 0px;
			bottom: 0px;
			width: 0;
			height: 5px;
			background: $second_color;
			animation: scale_bar 2.5s;
			animation-fill-mode: forwards;
			animation-delay: 3s;
		}
	}
	h1{
		color: #ffffff;
		font-family: $Raleway_700;
		font-size: 100px;
		line-height: 78px;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.btn{
		float: left;
		position: relative;
		z-index: 20;
	}
	.price{
		display: inline-block;
		margin: -20px 0 0 30px;
		color: #ffffff;
		font-family: $Accuratist;
		font-size: 48px;
		line-height: 80px;
		span{
			font-family: $Raleway_700;
			font-size: 24px;
			line-height: 80px;
		}
	}
	.picture{
		position: relative;
		z-index: 11;
		display: flex;
		align-items: flex-end;
		// background: url(img/girl_masked.png) top right 115px no-repeat;
		float: right;
		padding-right: 115px;
		margin-top: 20px;
		// min-height: 735px;
		img{
			animation: image_paint 2s;
			animation-fill-mode: forwards;
			// animation-delay: 1s;
		}
	}
	.picture:before{
		position: absolute;
		z-index: 10;
		content: '';
		width: 652px;
		height: 403px;
		right: 0px;
		top: 130px;
		background: url(img/focus.png) center no-repeat;
		animation: blinc_cam 2s;
		animation-fill-mode: forwards;
		// animation-delay: 1s;
	}
	.wave_1{
		position: absolute;
		z-index: 0;
		background: url(img/sec_01-wave-1.png) center repeat-x;
		height: 226px;
		bottom: 175px;
		animation: wave 240s linear infinite;
		width: 100%;
	}
	.wave_2{
		position: absolute;
		z-index: 12;
		background: url(img/wave-2.png) center repeat-x;
		height: 168px;
		bottom: -1px;
		animation: wave_2 200s linear infinite;
		width: 100%;
	}
	.wave_3{
		position: absolute;
		z-index: 0;
		background: url(img/sec_01-wave-3.png) center repeat-x;
		height: 226px;
		bottom: 70px;
		animation: wave 150s linear infinite;
		width: 100%;
	}
}

@keyframes wave {
	0%{width: 400%;}
	50%{width: 100%;}
	100%{width: 400%;}
}

@keyframes wave_2 {
	0%{width: 100%;}
	50%{width: 450%;}
	100%{width: 100%;}
}

@keyframes scale_bar {
	0%{width: 0;}
	100%{width: 101%;}
}

@keyframes image_paint {
	0%{filter: blur(10px)}
	10%{filter: blur(8px)}
	30%{filter: blur(4px)}
	50%{filter: blur(10px)}
	90%{filter: blur(3px)}
	100%{filter: blur(0px)}
}

@keyframes blinc_cam {
	0% {background: url(img/focus.png) center no-repeat;}
	20% {background: none;}
	35% {background: url(img/focus.png) center no-repeat;}
	45% {background: none;}
	54% {background: url(img/focus.png) center no-repeat;}
	63% {background: none;}
	71% {background: url(img/focus.png) center no-repeat;}
	83% {background: none;}
	90% {background: url(img/focus.png) center no-repeat;}
	96% {background: none;}
	100% {background: url(img/focus.png) center no-repeat;}
}

@keyframes cta {
	0%{transform: scale(1)}
	50%{transform: scale(1.02)}
	100%{transform: scale(1)}
}

.paralax_letter, ._letter{
	position: absolute;
	z-index: -1;
	color: $second_color;
	font-family: $Raleway_700;
	font-size: 933px;
	line-height: 1040px;
	text-transform: uppercase;
}